.movies-card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  column-gap: 20px;
  row-gap: 38px;
  box-sizing: border-box;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
  margin-top: 70px;
  position: relative;
}

.movies-card-list__error{
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  position: absolute;
  top:50%; 
  left:50%; 
  transform:translate(-50%, -50%); 
  top: 20px;
  color: #A0A0A0;
  padding: 20PX;
}

.movies-card-list__error_no-display{
  display: none;
}

@media (max-width: 910px) {
  .movies-card-list {
      grid-template-columns: repeat(2, 339px);
      column-gap: 30px;
      row-gap: 30px;
  }
}

@media (max-width: 760px) {
  .movies-card-list {
      grid-template-columns: repeat(auto-fit, 300px);
      row-gap: 34px;
  }
  .movies-card-list{
    margin-top: 40px;
  }
  .movies-card-list__error{
    font-size: 18px;
  }
}
