.movie-card {
  object-fit: cover;
  /* height: 100%; */
  width: 100%;
  /* aspect-ratio: 16/9; */
  box-sizing: border-box;
  margin: 0 auto;
}

.movie-card__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
}

.movie-card__info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.movie-card__name {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movie-card__saveButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(../../images/unsaved.svg);
  background-position: center;
  border: none;
  object-fit: cover;
  transition: background-image 0.2s ease-in-out;
}

.movie-card__saveButton:hover {
  background-image: url(../../images/save1.svg);
}

.movie-card__unsaveButton:hover {
  background-image: url(../../images/unsave.svg);
}


.movie-card__length {
  margin: 0;
  margin-top: 6px;
  color: #A0A0A0;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 910px){

  .movie-card__image{
    height: 190px;
  }

}

@media screen and (max-width: 760px){

  .movie-card__image{
    height: 168px;
  }

  .movie-card__name{
    font-size: 12px;
  }
}