.menu {
  position: fixed;
  z-index: 300;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: transform .5s;
  justify-content: flex-end;
  transform: translateX(100%);
  display: flex;
}

.menu__visible {
  transform: translateX(0);
}

.menu__hover {
  opacity: 0;
  transition: opacity .5s ease .5s;
  background-color: #000;
  width: 248px;
  height: 100%;
}

.menu__visible .menu__hover {
  opacity: 0.3;
}

.menu__hover_opacity-none{
  transition: none;
  opacity: 0;
}

.menu__main{
  padding-top: 159px;
  padding-bottom: 90px;
  background-color: #ffffff;
  opacity: 1;
  width: 520px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.menu__close {
  background-image: url(../../images/closingButton.svg);
  background-position: center;
  object-fit: cover;
  border: none;
  position: absolute;
  top: 23px;
  right: 23px;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  background-color: transparent;
}

.menu__title {
  margin: 0;
  text-align: center;
}

@media (max-width: 500px) {
  .menu__hover {
    width: 0px;
  }
  .menu__main {
    width: 100%;
  }
}