.navigation {
    display: flex;
    gap: 16px;
}

.navigation__item {
    margin: 0;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
