.search-form{
  max-width: 1140px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  margin: 0 auto;;
}

.search-form__container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 13px;
}

.search-form__input {
  max-width: 800px;
  min-width: 100px;
  border: none;
  color: #A0A0A0;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-form__input:focus {
  outline: none;
}

.search-form__submit {
  width: 58.65px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 48px;
  background: #3456F3;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  border: none;
}

.search-form__shorts {
  display: flex;
  gap: 14px;
  margin-top: 33px;
  align-items: center;
}

.search-form__switch {

}

.search-form__shortsTitle {
  margin: 0;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

@media screen and (max-width: 910px){
  .search-form__shorts{
    margin-top: 30px;
  }

  .search-form__shorts {
    flex-direction: row-reverse;
  }

  .search-form {
    padding-top: 80px;
    padding-bottom: 61px;
  }
}

@media screen and (max-width: 760px){
  .search-form__input {
    font-size: 18px;
  }

  .search-form__shorts {
    justify-content: center;
    margin-top: 41px;
  }

  .search-form {
    padding-top: 90px;
    padding-bottom: 51px;
  } 
}