.saved-movies {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.saved-movies__moreButton {
    cursor: pointer;
    padding: 0;
    border: none;
    width: 320px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #F9F9F9;
    margin-top: 50px;
    margin-bottom:  80px;
    transition: opacity 0.2 ease-in-out;
}

.saved-movies__moreButton:hover{
    opacity: 0.8;
}


@media screen and (max-width: 760px) {
    .saved-movies__moreButton {
        width: 240px;
    }

}