.header{
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #073042;
  padding-left: 70px;
  padding-right: 70px;
}

.header__img{
  cursor: pointer;
}

.header__container {
  margin: 0 auto;
  max-width: 1140px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__imageContainer{
  width: 100px;
}


.header__navigation {
  display: flex;
  gap: 16px;
}

.header_theme_light{
  background-color: #FFF;
}

.header__navMovies {
  margin: 0;
  color: #FFF;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__menu {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-image: url(../../images/menu-icon.svg);
  width: 38px;
  height: 38px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.header__loginRegistration{
  display: flex;
  gap: 30px;
}

.header__registrationButton{
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  cursor: pointer;
}

.header__loginBotton {
  margin: 0;
  padding: 0;
  width: 76px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background: #2BE080;
  cursor: pointer;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.header_theme_light {
  background-color: #FFF;
}

.header__menu_theme_light {
  background-image: url(../../images/menu_header_light.svg);
}

@media screen and (max-width: 768px){
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 500px){
  .header {
    padding: 18px 14px;
  }

  .header__loginBotton{
    width: 54px;
    height: 26px;
  }

  .header__loginRegistration {
    gap: 14px;
  }

  .header__registrationButton{
    color: #FFF;
    text-align: right;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px; /* 160% */
  }
  
  .header__loginBotton{
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }
}
