.register {
    width: 396px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
}

.register__logo {
    width: 38px;
}

.register__title {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 500;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 24px; */
}

.register__inputConiainer {
    padding-bottom: 10px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    position: relative;
    margin-bottom: 6px;
}

.register__inputConiainer:nth-child(3){
    margin-bottom: 6px;
}

.register__inputTitle {
    display:block;
    margin: 0;
    padding-top: 5px;
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
}

.register__input {
    padding: 0;
    padding-bottom: 10px;
    color: #000;
    border: none;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #E8E8E8;
}

.register__input:focus{
    outline: none;
    border-bottom: 1px solid #2BE080;
}

.form__text_type_invalid{
    border-bottom: 1px solid #FF3055;
    color: #FF3055;
}

.register__submitButton {
    margin-top: 134px;
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.form__submit-btn_inactive{
    pointer-events: none;
    opacity: 0.2;
}

.form__submit-btn_active{
    pointer-events:all;
    opacity: 1;
}

.register__submitButton:hover{
    opacity: 0.8;
}

.register__subtitle {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-self: center;
}

.register__subtitleLink {
    margin: 0;
    margin-left: 6px;
    color: #3456F3;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
}

.register__subtitleLink:hover{
    opacity: 0.7;
}

.register__input-error{
    color: #FF3055;
}

.register__errorMessage {
    margin: 0;
    color: #FF3055;
    font-size: 10px;
    /* position: absolute; */
    /* bottom: -5px; */
    min-height: 24px;
    margin-top: 5px;
}

.register__submit-error{
    margin: 0;
    color: #FF3055;
    font-size: 10px;
    text-align: center;
    height: 10px;
}

@media (max-width: 768px){
    .register{
        margin-top: 232px;
    }
}

@media (max-width: 500px){
    .register{
        max-width: 260px;
        margin-top: 56px;
        align-items: center;
    }
    .register__title{
        margin: 50px 0 80px;
    }

    .register__submitButton{
        margin-top: 222px;
    }

    .register__subtitle{
        font-size: 12px;
    }
    .register__subtitleLink{
        font-size: 12px;
    }
}
