.footer {
  width: 100%;
  padding-top: 58px;
  padding-bottom: 20px;
  flex-shrink: 0;
}

.footer__container {
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 0 auto;
  padding-bottom: 20px;
  color: #A0A0A0;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
  align-items: center;
  padding-top: 20px;
}

.footer__links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 910px) {
  .footer {
    padding-top: 70px;
  }

  .footer__container{
    padding-left: 30px;
    padding-right: 30px;
  }
}

.footer__yaPractikum{
  text-decoration: none;
  color: #000;
  transition: opacity 0.2s ease-in-out;
}

.footer__yaPractikum:hover{
  opacity: 0.7;
}

.footer__github {
  text-decoration: none;
  color: #000;
  transition: opacity 0.2s ease-in-out;
}

.footer__github:hover{
  opacity: 0.7;
}

@media (max-width: 760px) {
  .footer__info {
    flex-direction: column-reverse;
  }
}

.footer__year {
  margin: 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 760px) {
  .footer__year {
    margin: 30px auto 0px;
    color: #A0A0A0;
    font-size: 12px;
  }
}

.footer__links {
  display: flex;
  gap: 20px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 760px) {
  .footer__links {
    flex-direction: column;
  }
}

.footer__yaPractikum {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .footer__yaPractikum {
    margin: 30px auto 0;  
  }
}

.footer__github {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .footer__github {
    margin: 0 auto;  
  }

  .footer__title{
    font-size: 12px;
  }

  .footer{
    padding-top: 48px;
    padding-bottom: 20px;
  }

  .footer__container{
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__links{
    gap: 12px;
  }

  .footer__info{
    padding-top: 30px;
  }
}