.login {
    max-width: 396px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
}

.login__logo {
    width: 38px;
}

.login__title {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 500;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 24px; */
}

.login__inputConiainer {
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 24px;
}

.login__inputConiainer:nth-child(3){
    margin-bottom: 6px;
}

.login__inputTitle {
    display:block;
    margin: 0;
    padding-top: 5px;
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
}

.login__input {
    padding: 0;
    color: #000;
    border: none;
    font-size: 14px;
    font-weight: 400;
}

.login__input:focus{
    outline: none;
    border-bottom: 1px solid #2BE080;
  }

.login__submitButton {
    margin-top: 221px;
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    color: #fff;
}

.login__subtitle {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.login__subtitleLink {
    color: #3456F3;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.login__errorMessage {
    margin: 0;
    color: #FF3055;
    font-size: 10px;
}

@media (max-width: 768px){
    .login{
        margin-top: 232px;
    }
}

@media (max-width: 500px){
    .login{
        max-width: 260px;
        margin-top: 56px;
        align-items: center;
    }
    .login__title{
        margin: 50px 0 80px;
    }

    .login__submitButton{
        margin-top: 267px;
    }
}
